#textdomain wesnoth-Forgotten_Legacy
[unit_type]
    id=Skald Chief
    name= _ "Skald Chief"
    race=bitter-swamp-lizard
    image=units/skalds/skald-chief.png
    image_defensive=Skald/skald-chief.png
    hitpoints=48
    movement_type=lizard
    movement=6
    experience=90
    level=2
    alignment=chaotic
    advances_to=Skald Chieftain
    cost=30
    usage=archer
    description= _ "Ikmass is one of the quickest and strongest of his kind, and currently the de-facto leader of the Skalds. He is also completely and utterly insane."

    {DEFENSE_ANIM "units/skalds/skald-chief.png" "units/skalds/skald-chief.png" hiss-big.wav }
    die_sound=hiss-die.wav
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    [standing_anim]
        start_time=0
		[frame]
			image=units/skalds/skald-chief-bob[1~6].png:200
		[/frame]
    [/standing_anim]
    [attack]
        name=bite
        description=_"poisonous bite"
        type=pierce
        range=melee
        damage=6
        icon=attacks/fangs.png
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=spines
        description=_"spines"
        type=pierce
        range=ranged
        damage=3
        number=11
        icon=attacks/thorns.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=dagger
        description=_"dagger"
        type=blade
        range=melee
        damage=5
        icon=attacks/dagger-orcish.png
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/skalds/skald-chief.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/skalds/skald-chief.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                sound=bite.ogg
                begin=-100
                end=50
                image="units/skalds/skald-chief.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spines
        [/filter_attack]
        [missile_frame]
            begin=-100
            end=0
            image="projectiles/thorns.png"
            image_diagonal="projectiles/thorns-ne.png"
        [/missile_frame]
        [frame]
            begin=-100
            end=0
            image="units/skalds/skald-chief.png"
            sound={SOUND_LIST:THROW}
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=0
                end=50
                image="units/skalds/skald-chief.png"
                sound=dart.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=0
                end=50
                image="units/skalds/skald-chief.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/skalds/skald-chief.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/skalds/skald-chief.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                sound=dagger-swish.wav
                begin=-100
                end=50
                image="units/skalds/skald-chief.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
