#textdomain wesnoth-Forgotten_Legacy
[unit_type]
    id=Skald Maniac
    name= _ "Skald Maniac"
    race=bitter-swamp-lizard
    image=units/skalds/skald-maniac.png
    hitpoints=50
    movement_type=lizard
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=Skald Lunatic
    cost=35
    usage=fighter
    description= _ "The poison of the Skalds sometimes affects their minds in a nasty way. Those Skalds that have a high concentration of it are driven insane from the pain. These individuals are called maniacs by their kind because they enter battle with a frenzy unmatched by any other, wrestling their opponent to the ground and then ripping them to pieces with bite and claw.

Special Notes: Maniacs have access to multiple types of attacks, so don't forget to use the most appropriate one. Bite attacks are poisonous, wrestle attacks slow the opponent down, and claw attacks are the most powerful."

    {DEFENSE_ANIM "units/skalds/skald-maniac.png" "units/skalds/skald-maniac.png" hiss-big.wav }
    die_sound=hiss-die.wav
    [attack]
        name=wrestle
        description=_"wrestle"
        type=impact
        range=melee
        damage=9
        icon=attacks/fist-troll.png
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=bite
        description=_"poisonous bite"
        type=pierce
        range=melee
        damage=16
        icon=attacks/fangs-animal.png
        number=1
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=claws
        description=_"claws"
        type=blade
        range=melee
        damage=8
        icon=attacks/claws-drake.png
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/skalds/skald-maniac.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/skalds/skald-maniac.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                sound=bite.ogg
                begin=-100
                end=50
                image="units/skalds/skald-maniac.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=wrestle
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/skalds/skald-maniac.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/skalds/skald-maniac.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                sound=fist.ogg
                begin=-100
                end=50
                image="units/skalds/skald-maniac.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/skalds/skald-maniac.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/skalds/skald-maniac.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                sound=claws.ogg
                begin=-100
                end=50
                image="units/skalds/skald-maniac.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
