#textdomain wesnoth-Forgotten_Legacy
[unit_type]
    id=Skald Lunatic
    name= _ "Skald Lunatic"
    race=bitter-swamp-lizard
    image=units/skalds/skald-lunatic.png
    hitpoints=63
    movement_type=lizard
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=54
    usage=fighter
    description= _ "The poison of the Skalds can drive the strongest minds into madness. Among the most afflicted, the pain becomes an endless torment, and some eventually lose all reason. These skalds are called lunatics by their kind. Their minds broken by the poison, they throw themselves into battle with a terrifying disregard for their own lives, laughing and howling as they tear their enemies apart with tooth and claw.

Special Notes: Lunatics possess an attack of each kind. Use each attack according to the situation.
Bite attacks are poisonous. Wrestle attacks slow the opponent down and keep them helpless, while Claw attacks deal tremendous damage."

    {DEFENSE_ANIM "units/skalds/skald-lunatic.png" "units/skalds/skald-lunatic.png" hiss-big.wav }
    die_sound=hiss-die.wav
    [attack]
        name=wrestle
        description=_"wrestle"
        type=impact
        range=melee
        damage=12
        icon=attacks/fist-troll.png
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=bite
        description=_"poisonous bite"
        type=pierce
        range=melee
        damage=16
        icon=attacks/fangs-animal.png
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=claws
        description=_"claws"
        type=blade
        range=melee
        damage=9
        icon=attacks/claws-drake.png
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/skalds/skald-lunatic.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/skalds/skald-lunatic.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                sound=bite.ogg
                begin=-100
                end=50
                image="units/skalds/skald-lunatic.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=wrestle
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/skalds/skald-lunatic.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/skalds/skald-lunatic.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                sound=fist.ogg
                begin=-100
                end=50
                image="units/skalds/skald-lunatic.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/skalds/skald-lunatic.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/skalds/skald-lunatic.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                sound=claws.ogg
                begin=-100
                end=50
                image="units/skalds/skald-lunatic.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
