#textdomain wesnoth-Forgotten_Legacy

#define INTRO_OUT_OF_THE_SWAMPS
    [story]
        [part]
            background=story/swamp.jpg
            story= _ "Out of the Swamps"
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "The Salty Swamp has been home to a small tribe of saurians for as long as any of their elders can remember. Living a hunter-gatherer lifestyle, they prospered in the small confines of their home... until the orcs came."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "The orcs, inherently hostile to everyone weaker than them and equipped with the secret of steel, quickly subdued whatever resistance the saurians could muster and shackled them in bitter enslavement."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "The saurians were usually used for manual hard labor or as cheap fodder for the enemy to tire themselves on.
All this time, various feeble attempts at rebellion were made, but they were swiftly met with force and brutal retaliation, further reducing the saurian populace. Unfortunately, the average saurian, although strong, is not very intelligent."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "One particular saurian, named Skalith the Seeder, taught another way: patience. The saurians under his command stayed compliant and calm, making the orcs lower their guard until finally, three generations later, the saurians stole the secret of steel.
And thus the seed of freedom and revenge was planted..."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "Sixty years after Skalith's time, the chance to escape has come. The orc overlord was slain in battle and his still-infant offspring were exterminated overnight by another clan's assassins. Now every clan is vying for control and every ounce of leverage counts."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "The Bloodborn, S'Saskin, knows what clan wars entail for his kind. He is not willing to let that happen..."
        [/part]
    [/story]
	{VP_TRACK {JOURNEY_01_NEW} }
#enddef

#define INTRO_UNEXPECTED_ALLIES
    [story]
        [part]
            story= _ "Unexpected Allies"
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "With the orc guard post out of the way and hidden from prying eyes, S'Saskin laid out a bold plan to deal with the orcish retaliation..."
        [/part]
    [/story]
	{VP_TRACK {JOURNEY_02_NEW} }
#enddef

#define INTRO_THE_BITTER_SWAMP
    [story]
        [part]
            story= _ "The Bitter Swamp"
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "The Bitter Swamp is home to the Skalds, a specific breed of saurians defined by their unnatural dexterity and poisonous bite. Unfortunately, the poison has a strange effect on their mentality, making them highly unstable and occasionally downright insane."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "The orcs never managed to enslave the Skalds due to their suicidal reaction to capture. However, they did carry out a small genocide.
The Bitter Swamp is the final home of the Skalds, mostly thanks to its strange fumes that are deadly to non-saurians."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "Knowing that the orcs would sooner or later return, S'Saskin arrived to find new allies. Unfortunately, the welcoming committee was not what he expected..."
        [/part]
    [/story]
	{VP_TRACK {JOURNEY_03_NEW} }
#enddef

#define INTRO_THE_GREAT_RIVER
    [story]
        [part]
            story= _ "The Great River"
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "Having subdued Ikmass and his particular brand of saurians, S'Saskin is guided by his trusted Witch Doctor toward the Bay of Pearls, where a possible alliance awaits. Their path takes them through the Darkbark Forest and toward the Great River, a large and powerful current that literally cuts the land in half."
        [/part]
    [/story]
	{VP_TRACK {JOURNEY_04_NEW} }
#enddef

#define INTRO_DAMSEL_IN_DISTRESS
    [story]
        [part]
            story= _ "A Damsel in Distress"
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "After subduing the elves, S'Saskin and his band forced-march toward the Bay of Pearls as fast as they can. Analeiros, however, cannot be outrun through the remainder of the Darkbark Forest, and his remaining forces constantly harry the group."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "Eventually, they emerge from the Darkbark Forest to the rolling hills approaching the bay and are greeted by a scene of carnage..."
        [/part]
    [/story]
	{VP_TRACK {JOURNEY_05_NEW} }
#enddef

#define INTRO_TEST_OF_MIGHT
    [story]
        [part]
            story= _ "Test of Might"
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "Under the guidance of Elhis the Sea Witch, the saurians head out to discover what these mythical Naga Abominations are and request the use of their powers. During the journey, it is explained how secret alchemy has been combined with sea and blood magic to empower chosen warriors of the Naga tribes and turn them into the ultimate weapon."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "Such a process is so taxing and powerful that the secret cannot be allowed to spread to individual Naga tribes, let alone fall into the hands of other races. The Gatekeepers are the only Naga tribe to hold this secret, remaining neutral in all Naga hostilities and virtually unknown to anyone outside the Naga brood."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "Certainly, bringing outsiders to the secret training grounds of the Abominations will make any request far more difficult..."
        [/part]
    [/story]
	{VP_TRACK {JOURNEY_06_NEW} }
#enddef

#define INTRO_RETURNING_HOME
    [story]
        [part]
            story= _ "Returning Home"
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "Now, after acquiring the Naga Abominations, the group is venturing back home."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "S'Saskin feels quite optimistic about holding back the Blackbloods and securing freedom for his saurians—until they reach the outskirts of his village..."
        [/part]
    [/story]
	{VP_TRACK {JOURNEY_07_NEW} }
#enddef

#define INTRO_SIEGE
    [story]
        [part]
            story= _ "Siege"
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "After the defeat of Nako Snolt and his scum, S'Saskin immediately ordered the healing of the wounded as well as the construction of defensive structures and measures. Nako Snolt was a mere scout, so the main army cannot be far away."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "The Naga allies have settled in the south to secure the western flank. The saurians will hold the north."
        [/part]

        [part]
			{VP_BIGMAP}
            story= _ "On a stormy day, the Blackbloods arrive with their new Warchief, ready to resubjugate the saurians. Skalith Hyksa! For Freedom!"
        [/part]
    [/story]
	{VP_TRACK {JOURNEY_08_NEW} }
#enddef

#define TEMP_END
    [message]
        speaker=narrator
        message= _ "Unfortunately, this was the last scenario created so far. This campaign is not yet complete, so keep checking back after a significant version update to see new content."
        image=wesnoth-icon.png
    [/message]
    [message]
        speaker=narrator
        message= _ "Thank you for playing Forgotten Legacy in its early stages, and don't forget to leave feedback in the forums!"
        image=wesnoth-icon.png
    [/message]

#enddef