#textdomain wesnoth-Forgotten_Legacy

#define SPECIAL_NOTES_PROTECTION
    _" Adjacent equal- or lower-level units of the same allegiance have their resistances increased by this unit's guidance."
#enddef

#define SPECIAL_NOTES_TERROR
    _" This unit's intimidating appearance strikes fear into the hearts of adjacent enemy units, causing them to fight less effectively."
#enddef

#define SPECIAL_NOTES_ACID
    _" Due to the volume of the acid attack, it has a high chance to hit its target. However, it cannot reach very far and the unit is subject to melee reprisal."
#enddef

#define SPECIAL_NOTES_ACID_MASTER
    _" Due to the volume of the acid attack, it has a high chance to hit its target. However, it cannot reach very far and the unit is subject to melee reprisal. This unit also has the capability to hurl a condensed ball of acid at its target. This is not a magical attack, but the unit is so proficient with it that when attacking, it always has a high chance to hit."
#enddef